# Xcode user-specific settings
xcuserdata/
*.xcuserstate

# IDE user-specific settings
.idea/
*.iml

# Build artifacts
DerivedData/
build/
*.xcarchive
WebExtension/node_modules/
WebExtension/dist/

# macOS metadata
.DS_Store
